@import "normalize";

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto";
}

a {
    color: black;
    text-decoration: none;
}

$side-padding: 30px;
$top-padding: 50px;

$back-button-width: 50px;

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$other: #a600df;

@mixin flex($direction:row, $just:center, $align:center) {
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $direction;
}

@mixin shadow() {
    box-shadow: 2px 3px 10px 2px lightgray;
}

.title-text {
    font-size: 25px;
    font-weight: bold;
}

.med-text {
    font-size: 18px;
    font-weight: 300;
}

.small-text {
    font-size: 16px;
    font-weight: 500;
}

header {
    @include flex($just: space-between);

    height: 60px;
    width: 100%;

    position: relative;
    z-index: 1;

    button {
        width: $back-button-width;
    }
    
    .logo {
        height: 50%;
        width: 40%;

        padding-right: $back-button-width;

        flex-grow: 1;
        object-fit: contain;

        display: flex;
        justify-content: center;
        // text-align: center;
    }
}

footer {
    @include flex(column, space-between, flex-start);

    height: 200px;
    width: 100%;
    padding: $side-padding;

    background-color: #383838;

    .text {
        color: white;
    }

    .footer-logo {
        font-family: "Shrikhand";
    }

    .bottom {
        @include flex(column, space-between, flex-start);

        gap: 10px;
    }
}